<h3>School Classes:</h3>

<ul>
  <% @school_classes.each do |sc| %>
  <li><%= link_to sc.title, school_class_path(sc) %></li>
  <% end %>
</ul>

<%= link_to "Create New Class", new_school_class_path(@school_classes) %>
